* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    /* max-width:100%; */
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid gray; */
}

.contain {
    width: 1440px;
    /* box-sizing: border-box; */
}

.marquee {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* 隱藏超出範圍的內容 */
}

.marquee ul {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-right: 10px;
    animation: marquee 10s linear infinite;
    white-space: nowrap;
    /* 防止文字換行 */
    position: absolute;
    padding: 8px 0px;
}

.marquee li {
    display: inline-block;
    margin-right: 30px;
    white-space: nowrap;

}

/* 定義動畫的細節 */
@keyframes marquee {
    0% {
        left: 0;
        /* 文字一開始出現的位置 */
        transform: translateX(0%);
        /* 設置X軸移動量 */
    }

    100% {
        left: -100%;
        /* 文字移動的終點位置 */
        transform: translateX(-100%);
        /* 設置X軸移動量 */
    }
}

.banner {
    width: 100%;
    height: 757px;
    background-image: url('/images/banner-bg.png');
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    left: 0px;
    top: 64px;
}

.inner {
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

#ltop h1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: -35px;
}

#lcon {
    /* width: 440px; */
    height: 448px;
    background-color: white;
    border-radius: 24px;
    border: 2px solid #E0E0E0;
    font-weight: bold;

}

#p1 {
    color: #9A9A9A;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 36px;
}

#p2 {
    color: #363636;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 175%;
    margin-top: 16px;
}

#lbot {
    margin-top: -84px;

}

.b2 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 100%;
    height: 712px;
    background-color: #E6EBFF;
    border-radius: 40px;
    margin-top: -25px;
    padding: 60PX 72PX;
}

.a11 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.a1 h1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 40px;
}

.a12 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.a12 span {
    font-weight: 700;
    /* 粗體 */
}

.aa {
    width: 636px;
    height: 280px;
    margin-bottom: 32PX;
    background-color: #FFFFFF;
    border-radius: 24px;
    display: flex;
    padding: 36px;
}

.a2l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.a2l h2 {
    position: absolute;
    left: 0px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.a2l ul {
    position: absolute;
    left: -31px;
    top: 65px;
}

.a2l li {
    border: 2px solid #A6B6F1;
    border-radius: 20px;
    color: #7F94E2;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    display: inline-block;
    margin-right: 5px;
    padding: 6px 10px;
}

.a2l p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #9A9A9A;
    position: absolute;
    left: 0px;
    bottom: -20px;
}

.a2r {
    position: relative;
}

.a2r img {
    position: absolute;
    top: 24px;
    right: 56px;
    z-index: 10;
}

.a2rbg {
    width: 169px;
    height: 208px;
    background: #F0F0F0;
    border-radius: 24px;
    position: absolute;
    right: 0px;
    z-index: 9;
}

.success {
    width: 100%;
    height: 725px;
}

.suinner {
    width: 1296px;
    height: 428px;
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.success h2 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 92px;
}

.training {
    width: 100%;
    height: 2320px;
    background: #F8F9FD;
    position: relative;
}

.training h2 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    position: absolute;
    left: 647px;
    top: -28px;
}

.time {
    width: 636px;
    height: 58px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px #E8E8E8;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 12px;
    position: absolute;
    left: 402px;
    top: 38px;

}

.t1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* text-align: center; */
    letter-spacing: 0.02em;
    border-right: 2px solid #F0F0F0;
    /* padding: 0px 12px; */
}

.t2 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.tb1 {
    width: 1076px;
    height: 588px;
    background-image: url('/images/training-bg.png');
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #F0F0F0;
    border-radius: 16px;
    position: relative;
    position: absolute;
    margin-top: 176px;
    left: 182px;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

.tbtitle {
    width: 206px;
    height: 64px;
    position: absolute;
    left: 50px;
    top: -32px;
    padding: 12px 39px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 2px solid #363636;
    border-radius: 12px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
    position: absolute;
    left: 40px;
    top: -32px;
    text-align: center;
}

.tbtitle span {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;

}

.tbt1 {
    padding: 70px 55px;
}

.tbt11 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    border-bottom: 3px solid #000;
    /* position: absolute; */
}

.tb1 p,
ul {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-top: 10px;
    list-style-type: decimal;
}


.tbt13 {
    position: absolute;
    width: 335px;
    height: 12px;
    left: 153px;
    top: 150px;
    background: #FFEEA3;
    /* z-index: 9; */
    opacity: 0.4;
}

.tbt14 {
    position: absolute;
    width: 194px;
    height: 12px;
    left: 135px;
    top: 283px;
    background: #FFEEA3;
    /* z-index: 9; */
    opacity: 0.4;
}

.tbt2 {
    padding: 166px 60px 140px 0px;
}

.tb2 {
    width: 1076px;
    height: 384px;
    background-image: url('/images/training-bg.png');
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #F0F0F0;
    border-radius: 16px;
    position: relative;
    position: absolute;
    margin-top: 176px;
    left: 182px;
    top: 680px;
    display: flex;
    justify-content: space-between;
}

.tb2 p,
ul {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-top: 10px;
    /* list-style-type: decimal; */
}

.tb3 {
    width: 1076px;
    height: 356px;
    background-image: url('/images/training-bg.png');
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #F0F0F0;
    border-radius: 16px;
    position: relative;
    position: absolute;
    margin-top: 176px;
    left: 182px;
    top: 1150px;
    display: flex;
}

.tb3 p,
ul {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-top: 10px;
    /* list-style-type: decimal; */
}

.coach {
    width: 1076px;
    position: relative;
    position: absolute;
    top: 1740px;
    left: 182px;

}

.coach h3 {
    position: absolute;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
}

.photo {
    position: absolute;
    top: 100px;
    display: flex;
    /* justify-content: space-between; */
}

.cframe {
    width: 251px;
    height: 160px;
    border: 2px solid #363636;
    border-radius: 16px;
    margin-right: 23px;
    position: relative;
}

.cframe img {
    position: absolute;
    bottom: 0px;

}

.namebox {
    position: absolute;
    width: 48px;
    height: 104px;
    right: 20px;
    top: -24px;
    background: #FFFFFF;
    border: 2px solid #363636;
    border-radius: 12px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.sbox {
    height: 80px;
}

.vertical-text {
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    margin-top: 16px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.3em;
}

.intro {
    width: 1076px;
    position: relative;
    position: absolute;
    top: 300px;
}

.intro h4 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.coachexp ul {
    list-style-type: disc;
}

.registration {
    position: absolute;
    width: 1076px;
    height: 96px;
    left: calc(50% - 1076px/2);
    top: 4505px;
    background: #E6EBFF;
    border: 2px solid #363636;
    border-radius: 16px;
    top: 2270px;
    text-align: center;
    padding-top: 24px;
}

.registration h1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.QA {
    width: 856px;
}

.process {
    margin-top: 80px;
}

.process h1 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.circle {
    width: 24px;
    height: 24px;
    background: #E6EBFF;
    border: 2px solid #363636;
    border-radius: 50%;
    text-align: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
}

.QA p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.unit {
    width: 1440px;
    height: 312px;
    background: #F0F0F0;
    position: relative;
    margin-top: 124px;
    display: flex;

}

.unit h1 {
    position: absolute;
    top: -25px;
    left: 72px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.ubox {
    width: 196px;
    height: 148px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-top: 56px;
    align-content: center;
}

.unit h3 {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-top: 16px;
}

.unit p {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

footer {
    width: 1440px;
    height: 96px;
    text-align: center;
    margin-top: 36px;
}

footer p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}